<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="utf-8" />
	<title><%=headerTitle%> | <%= title%></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link href="<%=coloradmin%>plugins/switchery/switchery.min.css" rel="stylesheet" />

	<link href="<%=coloradmin%>plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="<%=coloradmin%>plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<link href="<%=coloradmin%>plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="<%=coloradmin%>plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />

    <%include include/froalaeditor_css %>

    <link href="/fr-view.css" rel="stylesheet" />

    <%include include/all %>
	
	<style>
    .fa-2x {
        font-size: 1.2em;
    }

    .bbb td{
      background-color: #93cfe5!important;
        color:#fff;
    }
      @media (max-width: 1200px){
    
        #data-table_wrapper>.row>.col-sm-6{
          width:100%;
        }
      }
      @media screen and (max-width: 992px){
        .rwd_adj{
          padding-left: 20px!important;
          padding-top: 0!important;
        }
        a.btn, .fileinput-button, input.form-control, .fr-box {
          margin-bottom: 5px!important;
          margin-top: 5px!important;

        }
      }

  </style>
</head>
<body>

<div id="page-loader" class="fade in"><span class="spinner"></span></div>

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

    <%include include/header %>
		<div id="sidebar" class="sidebar">
			<div data-scrollbar="true" data-height="100%">
				<%include include/user%>
				<%include include/nav%>
			</div>
		</div>
		
	<div class="sidebar-bg"></div>

 <div id="content" class="content">
			<h1 class="page-header clearfix" >
			  <div  class="pull-left" style="margin-bottom:10px;margin-right:10px;"><%= title%></div>

              <%if(newsClass){%>
                <div class="pull-left">
                  <a href="news" class="btn m-r-5 m-b-5 <%if(id == ""){%> btn-success <%}else{%> btn-default <%}%> btn-sm">所有文章</a>
                  <%for(var i=0;i<newsClass.length;i++){%>
                      <a href="news?id=<%=newsClass[i].id%>" class="btn m-r-5 m-b-5 <%if(newsClass[i].id == id){%> btn-success <%}else{%> btn-default <%}%> btn-sm"><%=newsClass[i].name%></a>
                   <%}%>
                </div>
              <%}%>
			</h1>
           <hr style="margin-top:-10px;">

   	<div class="row" style="margin-top:15px;">
			<div id="news_list" class="col-md-6">
                    <div class="panel panel-inverse">
                       <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">文章列表</h4>
                      </div>
                       <div class="panel-body">
                            <table id="data-table" class="table table-striped table-bordered" >
                                <thead> 
                                    <tr>
                                     <th>更新時間</th>
<!--                                      <th style="width:25px;">編號</th>   -->
                                      <th>列表</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%
                                  for(var i=0;i<news.length;i++){
                                    var item = news[i]
                                %>
                                    <tr id="list_<%=item.id%>" class="odd gradeX">
                                        <td style="background-color: #f0f3f5"><%=timestampToDate(item.time)%></td>
                                       
                                        <td style="background-color: #f0f3f5">
                                          
                                        <ul class="result-list">
                                         <li <%if(item.open){%>
                                           class="notopen" 
                                          <%}%> >
                                          <div class="result-image" style="width:30%">
                                              <img src="<%=item.img%>" />
                                          </div>
                                          <div class="result-info" style="width:60%">
                                              <h4 class="title"><a target="_blank" href="<%=domain%>/blog/<%=item.id%>"><%= item.name.replace(/<br\s*[\/]?>/gi,"") %></a></h4>
                                              <p class="location">
                                              <%=item.newsClassName %> | <%=timestampToDate(item.time)%> 
                                              </p>
<!--
                                             <%if(item.top){%>
                                              <div  class="btn-row">
                                                 <span class="label label-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">首頁置頂</font></font></span>
                                                  &nbsp;
                                                
                                              </div>
                                              <%}%>
-->
                                          </div>
                                          <div class="result-price" style="width: 10%;padding-top: 0;">
                                              <a onclick="_edit('<%=item.id%>')" style=" margin-top:15px;" class="btn btn-info">編輯</a>
                                              <a onclick="_delete('<%=item.id%>')" style=" margin-top:10px;" class="btn btn-warning">刪除</a>
                                          </div>
                                        </li>
                                      </ul>
                                          
                                        </td>
                                       
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 			<div id="news_list2" class="col-md-6">
               <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                  <div class="panel-heading">
                      <div class="panel-heading-btn">
                          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                      </div>
                      <h4 class="panel-title">
                        <span style="margin-right: 15px;"><span v-if="id">編輯文章 <button onclick="_clear()" type="button" style="margin-left:10px;" class="btn btn-white m-r-5 btn-sm">取消編輯</button> <button onclick="save_data()" type="button" class="btn btn-success m-r-5 btn-sm">儲存<span v-if="lock"></span></button></span><span v-else >新增文章
                        <button v-if="news.name && news.newsClass" onclick="_clear()" type="button" style="margin-left:10px;" class="btn btn-white m-r-5 btn-sm">取消新增</button>
                        <button v-if="news.name && news.newsClass" onclick="save_data()" type="button" class="btn btn-success m-r-5 btn-sm">儲存<span v-if="lock"></span></button> </span></span>
                      </h4>

                  </div>
                  <div v-if="id" class="alert alert-info fade in" style="margin-bottom:0;border-radius:0">
                     <font style="vertical-align: inherit;">
                       <i class="fa fa-info-circle fa-lg m-r-5 pull-left m-t-2"></i>
                        您正在編輯：{{news.name || "尚未命名"}}
                     </font>
                     <span class="close" data-dismiss="alert" style="font-size:16px;">×</span>
                   </div>
                   <div class="panel-body panel-form">
                   <form id="newsMain" class="form-horizontal form-bordered" enctype="multipart/form-data" method="post" action="/admin/news">
                               <div class="form-group" >
                                <div class="col-md-8" style="border-left:none;padding-left:20px;" >
                                     <input v-model.trim="news.name" class="form-control" type="text" placeholder="填寫文章標題"/>
                                  
                                </div>
                                   <div class="col-md-4 rwd_adj" style="border-left:none;padding-right:20px;padding-left:0"  >
                               <%if(newsClass){%>
                                <select v-model="news.newsClass" class="form-control" style="cursor: pointer;">
                                  <option value="">請選擇分類</option>
                                  <%for(var i=0;i<newsClass.length;i++){%>
                                     <option value="<%=newsClass[i].id%>">
                                       <%=newsClass[i].name%>
                                     </option>
                                  <%}%>
                                 </select>
                             <%}%>
                                 </div>
                               
                            </div> 
                              <div class="form-group">
                                
                                  <div class="col-md-12" style="padding:15px 20px;">
                                    
                                    <textarea id="editor1" class="textarea_use" name="editor1" rows="10" >
                                      {{news.content}}
                                    </textarea>
                                    <div style="margin-top:10px;">閱讀更多：<strong style="background: #000;color:#fff">&lt;!-- READ MORE--&gt;</strong> </div>
                                  </div>
                              </div>   
                              <div class="form-group">
                                  <label class="control-label col-md-2" > 封面圖片 :</label>
                                  <div class="col-md-9 clearfix">
                                      
                                       <div class="row">
                                        <div v-if="news.img" class="col-md-5"> 
                                           <img :src="news.img" style="width:100%;margin-bottom:10px;">
                                        </div>
                                        
                                      </div>
                                      <div class="row">
                                        <div class="col-md-7"><input v-model="news.img" class="form-control" type="text" placeholder="圖片路徑" /></div>
                                        <div class="col-md-5">
                                           <span class="btn btn-success fileinput-button btn-sm">
                                          <i class="fa fa-plus"></i>
                                          <span v-if="is_upload_loading_txt">{{is_upload_loading_txt}}</span>
                                          <span v-else>上傳圖片</span>
                                          <input type="file" id="files"  accept="image/png,image/gif,image/jpg,image/jpeg" @change="file_change($event,'files')">
                                           </span>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                           
                              
                               <div class="form-group">
                                  <label class="control-label col-md-2" for="fullname"><div>封面說明 :</div>
                                  </label>
                                  <div class="col-md-9">
                                     <input v-model.trim="news.img_talk" class="form-control" type="text" placeholder="填寫封面說明"/> 
                                  </div>
                               </div>

<!--
                       <div class="form-group">
									<label class="control-label col-md-2" for="fullname"><div>置頂 :</div>
									</label>
									<div class="col-md-9">
                    <input type="checkbox" id="置頂" v-model="news.top" data-render="switchery" data-theme="black" style="cursor: pointer;margin-right:10px;" />
										  
									</div>
						</div>
-->
                             
                          <div class="form-group">
                                  <label class="control-label col-md-2" > 置頂圖片 :</label>
                                  <div class="col-md-9 clearfix">
                                      
                                       <div class="row">
                                        <div v-if="news.img_top" class="col-md-5"> 
                                           <img :src="news.img_top" style="width:100%;margin-bottom:10px;">
                                        </div>
                                        
                                      </div>
                                      <div class="row">
                                        <div class="col-md-7"><input v-model="news.img_top" class="form-control" type="text" placeholder="圖片路徑" /></div>
                                        <div class="col-md-5">
                                           <span class="btn btn-success fileinput-button btn-sm">
                                          <i class="fa fa-plus"></i>
                                          <span v-if="is_upload_loading_txt">{{is_upload_loading_txt}}</span>
                                          <span v-else>上傳圖片</span>
                                          <input type="file" id="files"  accept="image/png,image/gif,image/jpg,image/jpeg" @change="file_change($event,'files',2)">
                                           </span>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-2" >作者 :</label>
                                  <div class="col-md-9">

                                <input v-model.trim="news.author" class="form-control" type="text" placeholder="填寫作者名稱"/>
                                  
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-2" >公開 :</label>
                                  <div class="col-md-9">

                   <input id="上架" v-model="news.open" type="checkbox" value="1" data-render="switchery" data-theme="orange">


                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12 col-sm-12" style="text-align:center">
                                    <button  onclick="_clear()" type="button" style="margin-left:10px;" class="btn btn-white m-r-5"> <span  v-if="id">取消編輯</span><span v-else>取消新增</span></button> <button onclick="save_data()" type="button" class="btn btn-success">儲存<span v-if="lock"></span> </button>

                                  </div>
                              </div>
                     </form>
                     <form enctype="multipart/form-data" method="post" style="display:none">
                       <span class="btn btn-success fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>上傳圖片</span>
                            <input id="history_file" type="file" @change="file_change($event,'history_file')" class="files" name="files" accept="image/png,image/gif,image/jpg,image/jpeg" multiple="">
                        </span>
                        <span class="btn btn-success fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>上傳檔案</span>
                            <input id="page_file2" type="file" @change="file_change2($event)" class="files" name="files" >
                        </span>
                     </form>
                  </div>
              </div>
 			</div>
    </div>
 </div>

  <%include include/scroll_top%>

</div>

<script src="<%=coloradmin%>js/form-plugins.demo.min.js"></script>

<script src="<%=coloradmin%>plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="<%=coloradmin%>plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="<%=coloradmin%>plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

<script src="<%=coloradmin%>plugins/switchery/switchery.min.js"></script>

<script src="<%=coloradmin%>js/form-slider-switcher.demo.min.js"></script>


<%include include/froalaeditor_js%>

<script src="<%=coloradmin%>js/apps.min.js"></script>
<script>

  var original_data = {
    newsClass:"<%=id%>",
    name: "",
    content: "",
    img: "",
    top: false,
    open: false,
    status: ""
  }
    var vm = new Vue({
    el: '#content',
    data: {
      id:"",
      news : JSON.parse(JSON.stringify( original_data )),
      is_upload_loading_txt: "",
      is_upload_loading: false,
      lock:false
    },
    mounted: function(){},
    computed: {
    },
    methods: {
     file_change: file_change,
     remove: function (index){
        this.news.p_img.splice(index, 1);
     },
      up: function(index){
        this.news.p_img[index].sort=this.news.p_img[index].sort-1;
        this.news.p_img[index-1].sort=this.news.p_img[index-1].sort+1;
      },
      down: function(index){
        this.news.p_img[index].sort=this.news.p_img[index].sort+1;
        this.news.p_img[index+1].sort=this.news.p_img[index+1].sort-1;
      }
   }
 })
 function check_repeat_data(dataItem){
   //檢查產品是否有重覆
   var _data = JSON.parse(JSON.stringify(dataItem))
   for(var i=0;i<_data.length;i++){
     delete _data[i].item
   }
   //console.log(_data)
   return false
 }
 function save_data(){
   if(vm.lock) return
   if(vm.news.newsClass == "") return alert("請先選擇分類")
   if(vm.news.name == "") return alert("請填寫文章標題")
   
   //保險在存一次
   vm.news.content = $('#editor1').froalaEditor('html.get');
   
   vm.lock = true;
   if(vm.id){//代表編輯
      var ref  = db.collection("NEWS").doc(vm.id);
      var _data = vm.$data.news;
      _data.updateAt = firebase.firestore.FieldValue.serverTimestamp();
      ref.set(_data,{
        merge:true
      }).then(function(){
        alert("編輯成功")
        location.reload()
      })
    }else{
        var _data = vm.$data.news;
        _data.updateAt = firebase.firestore.FieldValue.serverTimestamp();
        var ref = db.collection("NEWS").doc();
        ref.set(_data,{
          merge:true
        }).then(function(){
          alert("新增成功")
          location.reload()
        })

    }
 }

 function _edit(id){
   db.collection("NEWS").doc(id).get().then(function(data){
      var _data = data.data();
      vm.news = _data
      vm.id = id;
      if(vm.news.open){
        if(!$("#上架")[0].checked) $("#上架").trigger("click");
        $("#上架").attr("checked","checked");
      }else{
        if($("#上架")[0].checked) $("#上架").trigger("click");
        $("#上架").removeAttr("checked");
      }

//      if(vm.news.top){
//        if(!$("#置頂")[0].checked) $("#置頂").trigger("click");
//        $("#置頂").attr("checked","checked");
//      }else{
//        if($("#置頂")[0].checked) $("#置頂").trigger("click");
//        $("#置頂").removeAttr("checked");
//      }

        $('#editor1').froalaEditor('html.set', vm.news.content);


        $(".bbb").removeClass("bbb");
        $("#list_" + id).addClass("bbb")
        //$("#edit_show").show();
    })

  }
  function _delete(id){
    if(!window.confirm("確定要刪除資料?"))return;
    var ref = db.collection("NEWS").doc(id);

      ref.set({
        newsClass: "",
        open: false,
        updateAt: firebase.firestore.FieldValue.serverTimestamp()
      },{
        merge:true
      }).then(function(){
        alert("刪除成功")
        location.reload()
      })


  }

  function _clear(){
     vm.news = JSON.parse(JSON.stringify(original_data));
     $("#上架").removeAttr("checked");
     $("#上架").trigger("click").trigger("click");
//     $("#置頂").removeAttr("checked");
//     $("#置頂").trigger("click").trigger("click");
//     $("#edit_show").hide();
     $(".bbb").removeClass("bbb");
    
     vm.id="";
    
     $('#editor1').froalaEditor('html.set', "");

  }


  $(document).ready(function() {
    
     $("#data-table").DataTable({
       lengthMenu: [10, 20, 50],
       responsive:!0,
       "order": [[0, 'desc']],
     })
    
      App.init();
      FormSliderSwitcher.init();

    $.FroalaEditor.DefineIcon('insert', {NAME: 'image'});
    $.FroalaEditor.RegisterCommand('insert', {
      title: '新增圖片',
      focus: true,
      undo: true,
      refreshAfterCallback: true,
      callback: upload_img
    });
    $.FroalaEditor.RegisterQuickInsertButton('insert', {
      icon: 'insert',
      title: '新增圖片',
      // Callback for the button.
      callback: upload_img,
      focus: true,
      undo: true
    })
    $.FroalaEditor.DefineIcon('insert2', {NAME: 'file'});
    $.FroalaEditor.RegisterCommand('insert2', {
      title: '新增檔案',
      focus: true,
      undo: true,
      refreshAfterCallback: true,
      callback: upload_file
    });
    $.FroalaEditor.RegisterQuickInsertButton('insert2', {
      icon: 'insert2',
      title: '新增檔案',
      callback: upload_file,
      focus: true,
      undo: true
    })

    $('#editor1').froalaEditor({
       heightMin: 350,
       heightMax: 500,
      <%include include/froalaeditor_tool%>
    }).on('froalaEditor.contentChanged', function (e, editor) {
      $('#preview').html(editor.html.get());
    })
    $('#editor1').on('froalaEditor.contentChanged', function (e, editor) {
      var id=e.target.id; 
      vm.news.content = $(e.target).froalaEditor('html.get');
    });
    //https://www.froala.com/wysiwyg-editor/docs/plugins

    setTimeout(function(){
      add_none_pace()
    },3000)
    
  });

  
 //上傳檔案自訂 functions
  var upload_fn ;
  function upload_file(){
    $("#page_file2").trigger('click');
    var that = this;
     upload_fn=function(src,name){
      that.html.insert("<a href='"+src+"' download='"+name+"'>"+name+"</a>");
    }
  }
  function upload_img(){
    $("#history_file").trigger('click');
    var that = this;
    upload_fn=function(src){
      that.html.insert("<img style='width:100%' src='"+src+"' />");
    }
  }

  function success_file(url,name,index){
    upload_fn(url,name);
    $("#page_file2").val("");
  }
  function success(url,source,_number,index){
     if(source == "files"){
       clear_uploadFile();
       if(index == 2){
          vm.$set(vm.news,"img_top", url);
       }else{
          vm.$set(vm.news,"img", url);
       }
       $("#files").val("")
     }else{
       upload_fn(url);
       if(_number == 0)  $("#history_file").val("");
     }

  }
  
  <%
    function timestampToDate(timestamp){
      var date = new Date(timestamp * 1000);
        var mm = date.getMonth() + 1; 
        var dd = date.getDate();
        return [date.getFullYear(),
              (mm>9 ? '' : '0') + mm,
              (dd>9 ? '' : '0') + dd
             ].join('/');
    }
  %>
  
	</script>
	
</body>
</html>
