<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8" />
  <title><%=headerTitle%> | <%= title%></title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <link href="<%=coloradmin%>plugins/switchery/switchery.min.css" rel="stylesheet" />
  <link href="<%=coloradmin%>plugins/powerange/powerange.min.css" rel="stylesheet" />
  <link href="<%=coloradmin%>plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
  <link href="<%=coloradmin%>plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />

  <%include include/all %>
</head>
<body>

<div id="page-loader" class="fade in"><span class="spinner"></span></div>

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

    <%include include/header %>
		<div id="sidebar" class="sidebar">
			<div data-scrollbar="true" data-height="100%">
				<%include include/user%>
				<%include include/nav%>
			</div>
		</div>
		
<div class="sidebar-bg"></div>

<div id="content" class="content">
			<h1 class="page-header">
			  <%= title%>
              <span style="margin-left:10px;">
                <button @click="cancel_save()" style="display:none;" type="button" class="btn btn-white m-r-5 m-b-5 cancel_save">取消儲存</button>
                <button disabled="disabled" type="button" @click="save_data()" class="btn btn-primary m-r-5 m-b-5 save">儲存</button>
              </span>
			</h1>
			<div class="row">
			    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">
                      <span style="margin-right: 15px;">
                         <span  style="margin-right: 15px;">網站參數設定</span>
                      </span>
                    </h4>
                </div>
              <div class="panel-body">
                <div id="wizard">
                  <div style="padding-top:15px;">
                     <div class="row">
                     <div class="col-md-12"> 
                        <div class="form-horizontal">
                        <div class="form-group">
                          <label class="col-md-3 control-label">網站名稱</label>
                          <div class="col-md-7">
                            <input v-model="parameter.title" type="text" class="form-control" placeholder="顯示於網頁標題，上方導覽處的名稱" />
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-12"> 
                        <div class="form-horizontal">
                        <div class="form-group">
                          <label class="col-md-3 control-label">網站 logo 名稱</label>
                          <div class="col-md-7">
                            <input v-model="parameter.logo_title" type="text" class="form-control" placeholder="顯示於 logo 旁的名稱" />
                          </div>
                        </div>
                        </div>
                      </div>
                        <div v-if="parameter.img" class="col-md-12"> 
                          <div class="form-horizontal">
                             <div class="form-group">
                                  <label class="col-md-3 control-label"></label>
                                  <div class="col-md-5">
                                    <img style="width:80px;" v-if="parameter.img" :src="parameter.img">
                                  </div>
                               </div>
                           </div>
                          </div>
                      
                      <div class="col-md-12"> 
                          <div class="form-horizontal">
                             <div class="form-group">
                                  <label class="col-md-3 control-label">網站 logo</label>
                                  <div class="col-md-5">
                                    <input type="text" class="form-control" v-model="parameter.img" placeholder="請貼上圖片的網址，或上傳"  /> 
                                   </div>
                                 <div class="col-md-2">
                                  <form enctype="multipart/form-data" method="post">
                                   <span class="btn btn-success fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span v-if="is_upload_loading_txt">{{is_upload_loading_txt}}</span>
                                        <span v-else>上傳圖片</span>
                                        <input type="file" @change="file_change($event,'files')" class="files" name="files" accept="image/png,image/gif,image/jpg,image/jpeg" multiple="">
                                    </span>

                                   </form>
                                 </div>
                               </div>
                           </div>
                          </div>
                            <div v-if="parameter.bottom_img" class="col-md-12"> 
                          <div class="form-horizontal">
                             <div class="form-group">
                                  <label class="col-md-3 control-label"></label>
                                  <div class="col-md-5">
                                    <img style="width:80px;" v-if="parameter.bottom_img" :src="parameter.bottom_img">
                                  </div>
                               </div>
                           </div>
                          </div>
                              <div class="col-md-12"> 
                          <div class="form-horizontal">
                             <div class="form-group">
                                  <label class="col-md-3 control-label">網站底部 logo</label>
                                  <div class="col-md-5">
                                    <input type="text" class="form-control" v-model="parameter.bottom_img" placeholder="請貼上圖片的網址，或上傳"  /> 
                                    <div style="margin-top:5px;">若跟網站 logo 一樣，請直接複製網站 logo 欄位的網址</div>
                                   </div>
                                 <div class="col-md-2">
                                  <form enctype="multipart/form-data" method="post">
                                   <span class="btn btn-success fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span v-if="is_upload_loading_txt">{{is_upload_loading_txt}}</span>
                                        <span v-else>上傳圖片</span>
                                        <input type="file" @change="file_change($event,'files',2)" class="files" name="files" accept="image/png,image/gif,image/jpg,image/jpeg" multiple="">
                                    </span>

                                   </form>
                                 </div>
                               </div>
                           </div>
                          </div>
 
                       <div class="col-md-12">
                           <div class="form-horizontal">
                                <div class="form-group">
                                  <label class="col-md-3 control-label">搜尋描述(meta description 標籤)</label>
                                  <div class="col-md-7">
                                    <textarea v-model="parameter.description"  class="form-control" style="margin-top: 10px;" placeholder="請輸入 100~200 中文字的網站搜尋描述，有助於搜尋引擎收錄您的網站" rows="5"></textarea>
                                    <div style="margin-top:5px;">請輸入 100~200 中文字的網站搜尋描述，有助於搜尋引擎收錄您的網站</div>
                                  </div>
                                </div>
                           </div>
                       </div>
                       
                         <div class="col-md-12">
                         
                           <div class="form-horizontal">
                                <div class="form-group">
                                  <label class="col-md-3 control-label">
                                    網站關鍵字詞(meta keywords 標籤)
                                  </label>
                                  <div class="col-md-7">
                                     <textarea v-model="parameter.keyword"  class="form-control" style="margin-top: 10px;" placeholder="請設定10~15組的網站預設關鍵字，並以「,」號區隔" rows="5"></textarea>
                                    <div style="margin-top:5px;">請設定網站預設關鍵字，並以「,」號區隔</div>

                                  </div>
                                </div>
                                </div>
                       </div>
                       
<!--
                         <div class="col-md-12">
                         
                           <div class="form-horizontal">
                                <div class="form-group">
                                  <label class="col-md-3 control-label">GA-META標籤</label>
                                  <div class="col-md-7">
                                     <textarea v-model="parameter.meta" class="form-control" style="margin-top: 10px;" placeholder="Google Analytics meta標籤放置處，多個標籤必需換行填寫" rows="5"></textarea>
                                    <div style="margin-top:5px;">Google Analytics meta標籤放置處，多個標籤必需換行填寫</div>
                                  </div>
                                </div>
                                </div>
                       </div>
-->
                       <div class="row">
                         <div class="col-md-12"> 
                          <div style="margin-left:10px;text-align:center">
                              <button @click="cancel_save()" style="display:none;" type="button" class="btn btn-default m-r-5 m-b-5 cancel_save">取消儲存</button>
                              <button disabled="disabled" type="button" @click="save_data()" class="btn btn-primary m-r-5 m-b-5 save">儲存</button>
                            </div>
                         </div>
                      </div>
                     
                    </div>
                     <hr>
                  </div>
              </div>
            </div>
         </div>
         </div>
		  </div>
  <%include include/scroll_top%>
</div>
</div>

<script src="<%=coloradmin%>js/apps.min.js"></script>

<script>
  var vm = new Vue({
    el: '#content',
    data:   {
      parameter: <%-data%>,
      is_upload_loading_txt : "",
      is_upload_loading : false
    },
    methods: {
      file_change: file_change,
      save_data: function(fn){
    
        var data = JSON.stringify(vm.$data.parameter);

          $.post("/admin/parameter", {
            data : data 
          },function(data){
            location.reload();
//              var ref = db.collection("WEB").doc("data");
//              ref.set({
//                parameter : data
//              }).then(function(){
//                location.reload();
//              })
          })
      },
      cancel_save:function(){
        location.reload();
      },
      set_save: function(a){
         if(a){
          $('#save,.save').attr("disabled","disabled");
          $("#cancel_save,.cancel_save").hide();
          $('#new ,.new').removeAttr("disabled");
        }else{
          $('#save,.save').removeAttr("disabled");
          $("#cancel_save,.cancel_save").show()
          $('#new ,.new').attr("disabled","disabled");
        }
      }
    }
  })

  $(function(){
    $('input,textarea').on("change input",function(){
      vm.set_save();
    })
  })

  $(document).ready(function() {
    App.init();
  });
    
 //上方按鈕置頂
  function save_data(){
    vm.save_data();
  }
  function cancel_save(){
    vm.cancel_save();
  }
  $("#button_use").append('<button onclick="cancel_save()" type="button" class="btn btn-white m-r-5 m-b-5 btn-sm cancel_save" style="display:none;">取消儲存</button><button disabled="disabled" type="button" onclick="save_data()" class="btn btn-primary m-r-5 m-b-5 btn-sm save">儲存</button>')
  $("#button_use").hide();
  $(window).scroll(nav_scroll);
  function nav_scroll(){
    var _scroll_top=$("#header").offset().top;
      if(_scroll_top > 100){
        $("#button_use").show();
      }else{
        $("#button_use").hide()
      }
      return
  }     
  
   //上傳檔案自訂 functions
 var upload_fn ;
 function upload_img(){
    $("#history_file").trigger('click');
    var that = this;
    upload_fn=function(src){
      that.html.insert("<img style='width:100%' src='"+src+"' />");
    }
  }
  function success(url,source,_number,index){
    if(source == "files"){
       clear_uploadFile();
       if(index == 2){
          vm.$set(vm.parameter,"bottom_img", url);
       }else{
          vm.$set(vm.parameter,"img", url);
       }
      
       $("#files").val("")
     }else{
    upload_fn(url);
    if(_number == 0)  $("#history_file").val("");
   }
  }


</script>
</body>
</html>
